@import "tailwindcss";

/* You cannot define --font-sans in :root because variable is only in body */
body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-open-sans), sans-serif; /* Works now */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code, pre {
  font-family: var(--font-jetbrains-mono), monospace;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #0a0a0a;
    color: #ededed;
  }
}
